<!DOCTYPE html>
<html lang="da">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Flask Pong</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}">
</head>
<body>
    <img src="{{ url_for('static', filename='images/Header.png') }}" alt="Pong Game" id="game-title-image">

    <div id="main-content-wrapper">
        <div id="game-container">
            <div id="game-board" style="width: {{ game_width }}px; height: {{ game_height }}px;">
                <div id="ball"></div>
                <div id="player-paddle"></div>
                <p id="game-over-message">Press SPACE to start</p>
            </div>
        </div>

        <div id="game-info">
            <p>Score: <span id="score">0</span></p>
            </div>
    </div>

    <script src="https://cdnjs.cloudflare.com/ajax/libs/socket.io/4.0.0/socket.io.js"></script>
    <script src="{{ url_for('static', filename='js/game.js') }}"></script>
</body>
</html>